* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

.checkout__list-hidden {
    display: none;
}

.header {
    padding: 1rem;
}

.container {
    padding: 1.5rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 1.2rem;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 7rem;
    margin-bottom: 2rem;
}


.header__right-perfil {
    padding-right: 1rem;
}

.checkout__list-title {
    text-align: start;
    padding-bottom: 1rem;
}

.checkout__container {
    display: grid;
    gap: 1rem;
    order: 2;
}

.form__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.checkout__container-input {
    display: grid;
    gap: .5rem;
}

.checkout__label {
    font-size: .8rem;
    font-weight: 600;
    width: fit-content;
}

.checkout__input {
    padding: .6rem 1rem;
    border-radius: 7px;
    border: 1px solid #0000004d;
    display: flex;
    width: 100%;
}

#emailPerfil {
    font-size: .9rem;
}

.checkout__container-input--column {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
}

.checkout__container-expiracion-date {
    display: flex;
    gap: .5rem;
}

.checkout__container-expiracion-date input,
.checkout__container-input--cvv input {
    max-width: 100px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checkout__container-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.027);
    padding: .7rem 1rem;
    border-radius: 7px;
}

.checkout__total,
.checkout__total-amount,
.checkout__total-price {
    font-weight: 600;
    font-size: .8rem;
}

.button__checkout {
    place-self: center;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    background-color: black;
    margin-top: 2rem;
    transition: .3s ease;
    padding: .5rem 1rem;
    text-decoration: none;
    font-size: 1rem;
}

.button__container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.button__checkout:hover {
    background-color: transparent;
    box-shadow: 0px 0px 0px 1px black;
    color: black;
}

.checkout__list {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 100%;
}

.container__cart-item {
    max-width: 650px;
    margin: 0 auto;
}

.cart__container-no-elements-information {
    font-size: .85rem;
    text-align: center;
}

.cart__container-no-elements-link {
    color: #146c94;
}

.container__cart-information-top {
    text-align: start;
}

.container__cart-information-top a {
    font-size: .8rem;
}

.formulario__correcto {
    border: 1px solid #008000;
}

.formulario__incorrecto {
    border: 1px solid red;
    color: red;
}

input {
    outline: none;
}

.input__error {
    font-size: .7rem;
    color: red;
    max-width: 650px;
}

.form__status {
    font-size: .8rem;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
}

.error {
    color: red;
}

.submit {
    color: green;
}


.modal {
    border: none;
    padding: 3rem;
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    transition: .3s ease;
    margin: auto;
}

.modal__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.header__img {
    background-color: #0d560d;
    width: fit-content;
    padding: .5rem;
    display: grid;
    border-radius: 9px;
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
}

.header__bottom-title {
    font-size: 1.15rem;
    color: rgb(0, 0, 0);
}

.header__bottom {
    display: grid;
    gap: .3rem;
}

.header__bottom-orden-detail {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: .3rem;
    font-size: .6rem;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.030);
    border-radius: 3px;
    padding: .1rem .2rem;
    font-weight: 100;
}

.main__container-details {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.main__title,
span {
    font-size: .7rem;
}

.main__orden-details {
    box-shadow: 0px 0px 0px 1px #00000010;
}

.main__orden-details {
    border-radius: 7px;
    overflow: hidden;
}

.main__orden-detail {
    padding: .7rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #00000010;
}

.main__orden-detail:last-child {
    border: none;
}

.modal__link {
    text-decoration: none;
    color: white;
    background-color: #0d560d;
    text-align: center;
    padding: .35rem 0;
    border-radius: 7px;
    width: 100%;
    max-width: 250px;
    transition: .3s ease;
}

.modal__link:hover {
    background-color: #0d560de8;

}

@media screen and (width<=900px) {
    .container {
        max-width: 100%;
        margin-top: 4rem;
        margin-bottom: 0rem;
    }

    .header__center-container-input {
        padding-right: 1rem;
    }

}

@media screen and (width<=500px) {
    .modal {
        height: 100%;
        margin: 0;
        max-width: 100%;
    }



    dialog:-internal-dialog-in-top-layer::backdrop {
        position: fixed;
        inset: 0px;
        background: rgb(255, 255, 255);
    }

}