* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.checkout__list-hidden img {
    width: min(300px, 100%);
}

.container {
    width: min(1200px, 100%);
    margin: 4rem auto;
    border: 1px solid #0000001c;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    border-radius: 12px;
    gap: 3rem;
    place-content: center;
}

.checkout__container {
    display: grid;
    gap: 1rem;
    padding: 0 2rem;
}

.form__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.checkout__container-input {
    display: grid;
    gap: .5rem;
}

.checkout__label {
    font-size: .8rem;
    font-weight: 600;
    width: fit-content;
}

.checkout__input {
    padding: .6rem 1rem;
    border-radius: 7px;
    border: 1px solid #0000004d;
}

.checkout__container-input--column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.checkout__container-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.027);
    padding: .7rem 1rem;
    border-radius: 7px;
}

.checkout__total,
.checkout__total-amount {
    font-weight: 600;
}

.button__checkout {
    place-self: center;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    background-color: black;
    margin-top: 2rem;
    transition: .3s ease;
    padding: .5rem 1rem;
    text-decoration: none;
    font-size: 1rem;
}

.button__container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.button__checkout:hover {
    background-color: transparent;
    box-shadow: 0px 0px 0px 1px black;
    color: black;
}

.checkout__list {
    background-color: rgba(0, 0, 0, 0.021);
    padding: 0 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.cart__container-no-elements-information {
    font-size: .85rem;
    text-align: center;
}

.cart__container-no-elements-link {
    color: #146c94;
}

@media screen and (width<=970px) {

    .container {
        width: 100%;
        margin: 0;
        border: none;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 0;
    }

    .checkout__container-title {
        display: none;
    }

    .checkout__container {
        padding: 0;
    }

    .checkout__list {
        grid-row: 1;
        padding: 1rem 0;
    }

    .cart__container-no-elements-information {
        max-width: 300px;
        margin: 0 auto;
        padding-bottom: .5rem;
    }

    .form__container {
        padding: 1rem
    }
}

@media screen and (width<=500px) {
    .checkout__list img {
        display: none;
    }

    .checkout__list {
        padding: 4rem 0;
    }

    .checkout__container-input--column {
        grid-template-columns: 1fr;
    }
}