body {
  background-color: aliceblue;
}

main {
  margin: 0;
  padding: 0;
  margin-top: 3rem;
}

.section__gifcard {
  padding: 4rem 2rem;
  gap: 2em;
  display: flex;
  justify-content: center;
  width: 100%;
}

.article__gifcard_container {
  width: 100%;
}

.giftcard__tarjeta {
  background-color: cadetblue; 
  align-items: center;
  text-align: center;
  max-width: 600px;
  min-width: 200px;
  height: 100%;
  position: relative;
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tarjeta__destinatario {
  font-weight: bold;
  font-size: 2em;
}

.tarjeta__precio {
  position: absolute;
  padding: .5rem 2rem;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: fit-content;
  align-content: center;
}

.error__monto ,
.error__nombre{
  text-align: start;
  font-size: x-small;
  color: red;
}

.giftcard__personalizacion {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 700px;
}

.giftcard__personalizacion-titulo,
.giftcard__personalizacion-subtitulo {
  color: black;
  font-weight: bold;
  font-family: "Poppins";
  text-align: center;
}

.nombre__input {
  border: 1px solid #00000042;
  border-radius: 0.3em;
  padding: .4rem;
}

.circulo {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

.circulo__input,
.ubicacion__container,
.fondo__container {
  text-align: center;
}

.monto {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.monto__input {
  border: 1px solid #00000042;
  border-radius: 0.3em;
  padding: .4rem;
}

.ubicacion__cuadrado {
  width: 2em;
  height: 1.5em;
  position: relative;
  border: 1px solid #00000042;
}

.ubicacion__cuadrado-abajoderecha {
  position: absolute;
  width: 0.7em;
  height: 0.5em;
  background-color: #00000042;
  right: 0;
  bottom: 0;
}

.ubicacion__cuadrado-arribaizquierda {
  position: absolute;
  width: 0.7em;
  height: 0.5em;
  background-color: #00000042;
  left: 0;
  top: 0;
}

.ubicacion__cuadrado-abajoizquierda {
  position: absolute;
  width: 0.7em;
  height: 0.5em;
  background-color: #00000042;
  left: 0;
  bottom: 0;
}

.fondo__cuadrado {
  width: 2em;
  height: 1.5em;
}

.giftcard__button {
  text-align: center;
  padding: 0.2em 0.5em;
  background-color: var(--secondary-color);
  color: white;
  border: 0;
  border-radius: 5px;
  transition: 0.4s ease;
  cursor: pointer;
  padding: .7rem 3rem;
  place-self: center;
  margin-top: 2rem;
}

.color,
.tamanio,
.ubicacion,
.fondo {
  display: flex;
}

.ubicacion,
.color,
.fondo {
  gap: .7rem;
}


.color__container,
.tamanio__container,
.ubicacion__container,
.fondo__container {
  display: block;
}

.color__container {
  text-align: center;
  display: grid;
  gap: .4rem;
}

.tamanio__container {
  display: flex;
  flex-direction: column;
}

.tamanio {
  display: flex;
  gap: .7rem;
}

.color,
.fondo,
.tamanio {
  flex-wrap: wrap;
}

.ubicacion__titulo,
.fondo__titulo {
  margin: 0.5em 0 0.5 0;
}

.giftcard__button:hover {
  background-color: rgb(95, 158, 160);
}

.circulo-rojo {
  background-color: red;
  opacity: 80%;
}

.circulo-azul {
  background-color: blue;
  opacity: 80%;
}

.circulo-negro {
  background-color: black;
  opacity: 80%;
}

.circulo-amarillo {
  background-color: gold;
  opacity: 80%;
}

.circulo-verde {
  background-color: green;
  opacity: 80%;
}


.fondo__cuadrado-celeste {
  background-color: aqua;
  opacity: 80%;
}

.fondo__cuadrado-lila {
  background-color: blueviolet;
  opacity: 80%;
}

.fondo__cuadrado-chocolate {
  background-color: chocolate;
  opacity: 80%;
}

.fondo__cuadrado-cyan {
  background-color: darkcyan;
  opacity: 80%;
}

.giftcard__button a {
  text-decoration: none;
  color: white;
}

.checkout__container-input--row {
  background-color: red;
}

form {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.nombre__input,
.monto__input {
  max-width: 330px;
}

@media screen and (width <=1000px) {
  .giftcard__tarjeta {
    font-size: 0.75em;
  }
}

@media screen and (width <=770px) {
  .section__gifcard {
    flex-direction: column;
    padding: 0;
  }

  .giftcard__personalizacion {
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
  }

  .article__gifcard_container {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .giftcard__personalizacion-titulo {
    font-size: 1.2rem;
  }

  .nombre__input,
  .monto {
    width: 100%;
  }

  .color,
  .tamanio,
  .ubicacion,
  .fondo {
    gap: 2rem;
  }

  /* .nombre__input,
  .monto__input {
    max-width: 250px;
  } */

  .giftcard__tarjeta {
    min-height: 300px;
    margin: 0;
    margin-top: 2.6rem;
    width: 100%;
  }

  .giftcard__personalizacion {
    padding-bottom: 2rem;
    width: 100%;
  }

  .giftcard__personalizacion-titulo,
  .monto {
    text-align: center;
  }
}

@media screen and (width <=460px) {

  .giftcard__tarjeta {
    margin-top: 1.9rem;
  }

  form {
    padding: 1rem;
  }

  .giftcard__tarjeta {
    font-size: 0.6em;
  }

}