body {
    background-color: white;
}

.cart__container {
    max-width: 900px;
    padding: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 42px;
}

.cart__container-information {
    padding-bottom: .5rem;
}

.cart__container-title {
    font-size: 2.5rem;
    font-weight: 500;
}

.cart__container-count {
    font-weight: 400;
    font-size: 1rem;
}

.cart__container-no-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cart__container-no-elements-information {
    color: #0000008c;
    text-align: center;
}

.cart__container-no-elements-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: #146c94;
    padding: .5rem 1rem;
    border-radius: 7px;
    transition: .2s ease;
}

.cart__container-no-elements-link:hover {
    padding: .5rem 1.5rem;
}

.cart__container-no-elements img {
    width: min(300px, 100%);
}

@media screen and (width<=570px) {

    .cart__container {
        padding: 1rem 2rem;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        margin: 0;
        height: calc(100%);
    }

    .cart__container-information {
        margin-top: 3rem;
    }

    .cart__container-no-elements-information {
        max-width: 400px;
        padding-top: 2rem;
    }


    .cart__container img {
        display: none;
    }

}