* {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #ffff;
}

body {
    background-color: aliceblue;
}

main {
    height: auto;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    text-decoration: underline;
    text-align: center;
}

.contacto {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
}

.contacto__parte-izquierda {
    display: flex;
    flex-direction: column;
    width: min(500px, 100%);
}

.contacto__parte-izquierda input:first-child {
    margin-top: 0;
    padding: 10px;
}

.contacto__parte-izquierda input {
    margin-top: 2%;
    padding: 10px;
}


.contacto__parte-izquierda input:last-child {
    background-color: white;
    border: 1px solid black;
    place-self: center;
    padding: .5rem 4rem;
    border-radius: 12px;
}

.contacto__parte-izquierda input:last-child:hover {
    background-color: #7ad5ff85;
    transition: ease .3s;
}

.contacto__parte-derecha {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    justify-content: center;
    gap: 15px;
    border: 1px solid black;
    padding: 1rem 2rem;
    background-color: #19a7ce7a;
}

.ubicacion {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.ubicacion__title {
    text-decoration: underline;
    text-align: center;
}

#button {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: .4rem;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
}

.span__count {
    font-size: .65rem;
}

.input__error {
    color: red;
    font-size: .7rem;
}

.input__telefono--error {
    border: 1px solid red;
}

.input__check {
    border: 1px solid green;
}

input,
textarea {
    outline: none;
    width: 100%;
    border: none;
}

.text__container {
    width: 100%;
    height: 100%;
    position: relative;
}

.caracteres__container {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: black;
}

#form__error {
    text-align: center;
    margin-top: 1rem;
}

.contacto__parte-izquierda textarea {
    margin-top: 2%;
    resize: none;
    padding: 1rem;
}

.number__container {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

#telefono {
    padding-left: 3.2rem;
}

.number__prefix {
    position: absolute;
    display: grid;
    left: 10px;
    place-content: center;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    padding-right: 5px;
    color: #0000004d;
    font-size: .8rem;
}


@media screen and (width <=735px) {

    .contacto__parte-izquierda {
        width: 100%;
        margin: 0 2rem;
    }
}