* {
    margin: 0;
    padding: 0;
}

.limpiar-links {
    text-decoration: none;
    color: black;
}

body {
    padding-top: 5rem;
    background-color: white;
}

main {
    height: 100%;
    background-color: white;
}

.calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    margin: 3rem 1rem;
}

.calendario__item {
    border-color: lightgrey;
    text-align: center;
    height: 100%;
    padding: 2rem 0;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.747);
    border: 1px solid rgba(0, 0, 0, 0.057);
    display: grid;
    align-items: center;
    position: relative;
}

.calendario__item__nuevoCurso {
    background-color: rgb(255, 190, 105);
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
}

.lesson__name {
    background-color: burlywood;
    color: black;
    cursor: pointer;
}

.pop__up {
    position: absolute;
    width: 250px;
    z-index: 1;
    top: -120px;
    background-color: white;
    display: none;
    padding: 1rem;
    box-shadow: 10px 10px 10px #00000057;
    flex-direction: column;
    border-radius: 7px;
    gap: .5rem;
}

.curso__nombre {
    font-size: .9rem;
}

.curso__detalles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    border: 1px solid black;
    padding: .5rem;
    border-radius: 7px;
}

.visible {
    display: flex;
}

.curso__link {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: .3rem;
    border-radius: 7px;
}

@media (width<=768px) {
    .calendario {
        grid-template-columns: repeat(4, 1fr);
        /* 4 columnas en pantallas pequeñas */
        grid-template-rows: repeat(7, 1fr);
        /* Más filas para días adicionales */
    }
}

@media (width<=450px) {
    .pop__up {
        width: 170px;
    }

    .curso__nombre {
        font-size: .8rem;
    }

    .curso__detalles {
        flex-direction: column;
        gap: 0;
    }
}