*{
    margin: 0;
    padding: 0;
    
}
.limpiar-links{
    text-decoration: none;
    color: black;
}
body{
    background-color: #ccf3fc;
}
main{
    height: 600px;
    
}
.calendario{
    display: grid;
    grid-template-columns: repeat(7, 13%);
    grid-template-rows: repeat(5, 6rem);
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

}
.calendario__item{
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    height: 5.5rem;
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
    line-height: 1.5;
    background-color: rgba(255, 255, 255, 0.747);
    
}
.calendario__item__nuevoCurso{
    background-color: lightyellow;
    text-decoration: none;
}
