footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: .5rem;
  justify-content: center;
  background-color: #ffff;
  margin: 0 auto;
  border-top: 1px solid #00000039;
}

.footer__title {
  font-size: 1.3rem;
  background-color: black;
  color: white;
  padding: .5rem 4rem;
  border-radius: 12px;
  font-weight: 600;
}

.footer__container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 0 3rem;
}

.footer__paragraph,
.footer__container {
  text-align: center;
}

.footer__flex {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.footer__elements {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .3rem;
}

.footer__element {
  font-size: .9rem;
  font-weight: 500;
}

.footer__link {
  text-decoration: none;
}

.footer__link,
.footer__element,
.footer__paragraph {
  color: #00000085;
}

.footer__elements-social {
  flex-direction: row;
  gap: 1rem;
}

.footer__paragraph {
  padding: 0 1rem;
}

.footer__link:hover {
  color: black;
}

@media screen and (width <=1170px) {
  .footer__paragraph {
    font-size: .9rem;
  }

  .footer__title {
    font-size: .9rem;
    padding: .5rem 2rem;
  }

}

@media screen and (width <=700px) {
  .footer__container {
    gap: 1rem;
  }


}