* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html {
    scroll-behavior: smooth;
}

:root {
    --hamburguer-icon: url(../Paginas/Inicio/Assets/list.svg);
    --translate-nav: translate(-100%);
    --primary-color: #19A7CE;
    --secondary-color: #146c94;
    --black: #000000;
    --white: #ffffff;
}


.header,
.header__right,
.header__right-buttons,
.nav__elements {
    /*Functions*/
    display: flex;
    align-items: center;
}

.header {
    /*Styles*/
    background-color: #ffffff;
    padding: .8rem 1.2rem;
    border-bottom: 1px solid #00000033;

    /*Functions*/
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.header__left {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header__left-link {
    /*Styles*/
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    border-radius: 7px;
    padding: .2rem .4rem;

    /*Functions*/
    cursor: pointer;
}


.header__center-container-input {
    /*Functions*/
    position: relative;
    border-right: none;
}

.header__center-input {
    /*Styles*/
    border: 1px solid #00000033;
    padding: .6rem 1rem;
    border-radius: .3rem;
    font-size: .9rem;
    transition: .4s ease;
    padding-left: 2.5rem;

    /*Functions*/
    outline: none;
}


.header__center-container-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.header__center-icon {
    /*Functions*/
    cursor: pointer;
    display: grid;
    place-content: center;

    /*Styles*/
    border-left: none;
}

.header__right {
    /*Functions*/
    gap: 2rem;
}

.header__right-buttons {
    /*Functions*/
    gap: .5rem;
}

.button {
    /*Functions*/
    text-align: center;

    /*Styles*/
    text-decoration: none;
    padding: .7rem;
    transition: .4s ease;
    border-radius: .5rem;
    font-size: .8em;
    font-weight: 500;
}

.header__right-button-login:hover {
    background-color: #00000009;
}

.header__right-button-register:hover {
    background-color: #146b94c7;
}

.header__right-button-login {
    /*Styles*/
    color: black;
}

.header__right-button-register {
    /*Styles*/
    background-color: var(--secondary-color);
    color: white;
}

.header__right-cart {
    /*Functions*/
    position: relative;
    width: 40px;
}

.header__right-icon-cart {
    /*Functions*/
    width: 28px;
    display: grid;
}

.header__right-cart-count-container {
    /*Functions*/
    position: absolute;
    top: 0;
    right: 0;
}

.header__right-cart-count {
    /*Functions*/
    display: grid;
    place-content: center;

    /*Styles*/
    color: #000000;
    border-radius: 50%;
    font-weight: 600;
}

.nav {
    height: auto;
    margin: 0;
}

.nav__elements {
    /*Functions*/
    justify-content: center;
    align-items: center;
    width: fit-content;
    display: flex;
    margin: 0 auto;
    gap: 1rem;

    /*Styles*/
    padding: .4rem 2rem;
    border-radius: 7px;
}

.nav__element {
    /*Styles*/
    list-style: none;
}

.nav__link {
    /*Styles*/
    text-decoration: none;
    font-weight: 600;
    transition: .2s ease;
    padding: .3rem .7rem;
    color: var(--black);
    border-radius: 7px;

    /*Functions*/
    display: inline-block;
}

.nav__link:hover {
    /*Styles*/
    background-color: black;
    color: white;
}

.header__right-label {
    /*Functions*/
    display: none;
}

.main {
    display: grid;
    gap: 2rem;
    margin: 2rem 0;
}

.steps__container {
    /*Functions*/
    width: 100%;
    display: grid;

    /*Styles*/
    padding: 4rem 3rem;
}

.step__container-img {
    /*Styles*/
    padding: 1rem;
    background-color: #00ffff10;
}

.steps__information {
    /*Functions*/
    display: grid;
    gap: .5rem;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.steps__question {
    /*Styles*/
    font-size: 4rem;
    line-height: 1;
    font-weight: 600;
    padding: 0 1rem;
    background-color: #00ffff23;
}

.steps__paragraph {
    /*Styles*/
    font-size: 1.4rem;
    font-weight: 300;
    color: #000000c4;
}

.steps__cards {
    /*Functions*/
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    width: min(1000px, 100%);

    margin: 2rem auto;

    /*Styles*/
    border-radius: 1.5rem;
}

.step__item {
    /*Functions*/
    overflow: hidden;

    /*Styles*/
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: 1px 1px 10px 0px #00000017;
    background-color: var(--white);
}

.step__description {
    /*Styles*/

    padding: .5rem;
    /*Functions*/
    background-color: #00ffff23;
    height: 100%;
}

.step__title {
    /*Styles*/
    font-size: 1.2rem;
    color: var(--black);
    font-weight: 600;
    /*Functions*/
    margin-bottom: .5rem;
}

.step__text {
    /*Styles*/
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.507);

    /*Functions*/
    width: min(250px, 100%);
    margin: 0 auto;
}

.lesson {
    /*Styles*/
    border-radius: 70px;
    border: 1px solid #00000028;
    padding: 3rem 0;

    /*Functions*/
    display: grid;
    margin: 0 auto;
    gap: 3.5rem;
    width: 95%;
}

.lesson__information {
    /*Styles*/
    text-align: center;
    display: grid;
    gap: 1rem;
}

.lesson__question {
    /*Styles*/
    font-size: 3.5rem;
    font-weight: 600;
}

.lesson__question-modify {
    /*Styles*/
    background-color: var(--primary-color);
    color: var(--white);
    padding: .2rem 1rem;
    font-weight: 600;
    border-radius: 30px;
}

.lesson__answer {
    /*Functions*/
    max-width: min(700px, 100%);
    place-self: center;

    /*Styles*/
    font-size: 1.3rem;
    color: #000000c4;
    font-weight: 300;
}

.lesson__container {
    /*Functions*/
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.lesson__container-title {
    /*Styles*/
    border: 1px solid #00000028;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: .7rem 2rem;
    border-radius: 12px;
    font-size: 1.5rem;
    font-weight: 600;

    /*Functions*/
    margin: 0 auto;
}

.lesson__items {
    /*Functions*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(265px, 100%), 1fr));
    width: min(1200px, 100%);
    margin: 0 auto;
    gap: 2rem;

    /*Styles*/
    padding: 0 2rem;

}

.lesson__item {
    /*Styles*/
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;

    /*Functions*/
    display: flex;
    flex-direction: column;
}

.lesson__item:hover {

    .lesson__item-container-information {
        box-shadow: 0px 6px 0px 0px black;
    }

    .lesson__item-title {
        text-decoration: underline;
    }

    .lesson__item-container-img img {
        transform: scale(1.05);
    }
}

.lesson__item-container-information {
    /*Styles*/
    border: 1px solid #0000002d;
    padding: .8rem;
    border-radius: 0px 0px 15px 15px;
    transition: .2s ease;

    /*Functions*/
    display: grid;
    justify-content: center;
    gap: 2rem;
    height: min(300px, 100%);
}

.lesson__item-information-top {
    /*Functions*/
    display: grid;
    gap: .5rem;
}

.lesson__item-title {
    /*Styles*/
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    line-height: 1.2;
}

.lesson__item-description {
    /*Styles*/
    font-size: .8rem;
    color: #000000a9;
    font-weight: 500;
}

.lesson__item-information-bottom {
    /*Functions*/
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.lesson__item-hours {
    /*Styles*/
    font-weight: 700;
}

.lesson__item-information-bottom-button-price {
    /*Functions*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .3rem;
}

.lesson__item-price {
    font-weight: 600;
    margin-right: 8px;
}

.lesson__item-button {
    /*Styles*/
    color: white;
    font-weight: 400;
    text-decoration: none;
    background-color: #000000;
    transition: .3s ease;
    padding: .4rem .8rem;
    border-radius: 15px;
}

.lesson__item-button:hover {
    background-color: #000000c9;
}

.lesson__item-container-img {
    width: 100%;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.lesson__item-container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease;
}

.lesson__more {
    width: 100%;
    display: grid;
    margin: 1rem 0;
    place-content: center;
}

.lesson__more p {
    /*Styles*/
    border: 1px solid #00000028;
    text-align: center;
    color: #00000088;
    padding: .7rem 2rem;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 500;
    cursor: not-allowed;

    /*Functions*/
    margin: 0 auto;
}

.logos__slide img {
    height: 65px;
    transition: .3s ease;
    padding: .4rem;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.144);
}

.logos {
    padding: .5rem 0;
    overflow: hidden;
    margin-bottom: 4rem;
    margin-top: 2rem;
    display: grid;
    gap: 1.2rem;
}

.logos__slide {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.logos__title {
    text-align: center;
    padding: .5rem;
    font-size: 1.15rem;
    font-weight: 400;
    color: #00000080;
    border-radius: 7px;
    width: fit-content;
    margin: 0 auto;
}

.carrousel {
    width: 100%;
    overflow: hidden;
    width: min(1200px, 100%);
    margin: 0 auto;
    position: relative;
    border-radius: 12px;
}

.carrousel:after {
    background-image: url(/Paginas/Inicio/Assets/arrow-left.svg);
    margin-left: 2rem;
}

.carrousel:after,
.carrousel::before {
    position: absolute;
    content: '';
    width: 65px;
    height: 65px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.carrousel:before {
    background-image: url(/Paginas/Inicio/Assets/arrow-right.svg);
    right: 0;
    margin-right: 2rem;
}

.carrousel__elements {
    display: flex;
    list-style: none;
}

.carrousel__elements img {
    height: 100%;
}