body {
    background-color: aliceblue;
    width: 100%;
    margin: 0 auto;
}

.body__no-scroll {
    overflow-y: hidden;
}

.main {
    display: grid;
    gap: 1rem;
    margin-top: 4rem;
}

html {
    scroll-behavior: smooth;
}

.main__a {
    scroll-behavior: smooth;
    position: fixed;
    bottom: 3px;
    right: 10px;
    z-index: 100;
}

.steps__container {
    /*Functions*/
    width: 100%;
    display: grid;

    /*Styles*/
    padding: 0 1rem;
}

.step__container-img {
    /*Styles*/
    padding: 1rem;
}

.steps__information {
    /*Functions*/
    display: grid;
    gap: .5rem;
    padding: 1rem 2rem;
    text-align: center;
    max-width: 700px;
    margin: 1rem auto;
    background-color: white;
    border-radius: 20px;
}

.steps__question {
    /*Styles*/
    line-height: 1;
    font-weight: 800;
    font-size: clamp(1.5rem, 5vw, 2.3rem);
    padding: .5rem 1rem;
    color: black;
    background-color: azure;
}

.steps__paragraph {
    /*Styles*/
    font-size: 1.05rem;
    color: rgba(0, 0, 0, 0.507);
}

.steps__cards {
    /*Functions*/
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    width: min(1000px, 100%);
    margin: 2rem auto;

    /*Styles*/
    border-radius: 1.5rem;
}

.step__item {
    /*Functions*/
    overflow: hidden;

    /*Styles*/
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: 1px 1px 10px 0px #00000017;
    background-color: var(--white);
}


.step__description {
    /*Styles*/

    padding: .5rem;
    /*Functions*/
    height: 100%;
}

.step__description--white {
    background-color: white;
}

.step__title {
    /*Styles*/
    font-size: 1.2rem;
    color: var(--black);
    font-weight: 600;
    /*Functions*/
    margin-bottom: .5rem;
}

.step__text {
    /*Styles*/
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.507);

    /*Functions*/
    width: min(250px, 100%);
    margin: 0 auto;
}

.lesson {
    /*Styles*/
    border-radius: 70px;
    border: 1px solid #00000028;
    padding: 3rem 0;
    background-color: #ffff;

    /*Functions*/
    display: grid;
    gap: 3.5rem;
    width: 90%;
    margin: 0 auto;
}

.lesson__information {
    /*Styles*/
    text-align: center;
    display: grid;
    gap: 1rem;
    padding: 2rem;
}


.lesson__question {
    /*Styles*/
    font-size: 3.5rem;
    font-weight: 600;
}

.lesson__question-modify {
    /*Styles*/
    color: var(--black);
    padding: .2rem 1rem;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 30px;
}

.lesson__answer {
    /*Functions*/
    max-width: min(700px, 100%);
    place-self: center;

    /*Styles*/
    font-size: 1.3rem;
    color: #000000c4;
    font-weight: 300;
}

.lesson__container {
    /*Functions*/
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.lesson__container-title {
    /*Styles*/
    border: 1px solid #00000028;
    color: #000000;
    text-align: center;
    padding: .7rem 2rem;
    border-radius: 12px;
    font-size: 1.5rem;
    font-weight: 600;

    /*Functions*/
    margin: 0 auto;
}

.lesson__more {
    width: 100%;
    display: grid;
    margin: 1rem 0;
    place-content: center;
}

.lesson__more p {
    /*Styles*/
    border: 1px solid #00000028;
    text-align: center;
    color: #00000088;
    padding: .7rem 2rem;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 500;
    cursor: not-allowed;

    /*Functions*/
    margin: 0 auto;
}

.logos__slide img {
    height: 55px;
    transition: .3s ease;
    padding: .4rem;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.144);
}

.logos {
    padding: .5rem 0;
    overflow: hidden;
    margin-bottom: 4rem;
    margin-top: 2rem;
    display: grid;
    gap: 1.2rem;
}

.logos__slide {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.logos__title {
    text-align: center;
    padding: .5rem;
    font-size: 1.15rem;
    font-weight: 400;
    color: #00000080;
    border-radius: 7px;
    width: fit-content;
    margin: 0 auto;
}

.carrousel {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.carrousel__elements {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.carrousel__element {
    list-style: none;
    width: 100%;
}

.carrousel__element img {
    height: 100%;
    width: 100vw;
}

.carrousel__element-description {
    position: absolute;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
    max-width: 450px;
    width: 100%;
    right: 15%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    color: #2d2f31;
}

.carrousel-left {
    display: flex;
    position: absolute;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    top: 50%;
    left: 2.5%;
    cursor: pointer;
}

.carrousel-right {
    display: flex;
    position: absolute;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    top: 50%;
    right: 2.5%;
    cursor: pointer;
}

.description__title {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.description__link {
    text-decoration: none;
    color: white;
    background-color: black;
    width: fit-content;
    font-weight: 500;
    padding: .5rem 1rem;
    transition: .3s ease;
}

.description__paragraph {
    color: rgba(0, 0, 0, 0.562);
    font-size: .9rem;
    line-height: 1.6;
    font-weight: 100;
}

.description__link:hover {
    background-color: #2d2f31e5;
}

.lesson__item-buttons-contanier {
    border: 1px solid black;
    width: 130px;
    padding: .4rem .8rem;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.button__price {
    cursor: pointer;
    font-size: 1rem;
}

.button__price-minus {
    color: #00000070;
    cursor: default;
}

.button__price-minus-active {
    color: #000000;
    cursor: pointer;
}

.button__price-plus-desactive {
    color: #00000070;
    cursor: default;
}

.container__cart {
    background-color: #0000003d;
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    height: 100%;
    overflow: hidden;
    z-index: 100;
    display: none;
}

.js-container__cart {
    position: absolute;
    background-color: white;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    width: min(545px, 100%);

}

.container__cart-header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.112);
}

.container__cart-header-close {
    width: 30px;
    cursor: pointer;
}

.container__cart-title {
    font-size: 2.3rem;
}

.container__cart-description {
    width: 100%;
    padding-bottom: .5rem;
}

.container__cart-bottom-payment {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    margin-top: auto;
}

.container__cart-bottom {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.container__cart-bottom-cantidad,
.container__cart-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__cart-total {
    display: flex;
    flex-direction: column;
}

.container__cart-total div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.container__cart-bottom-cantidad-text,
.container__cart-cupon,
.container__cart-right,
.container__cart-bottom-paymnent-link {
    font-weight: 200;
    font-size: .97rem;
}

.container__cart-bottom-paymnent-link {
    text-decoration: none;
    color: white;
    background-color: black;
    place-self: center;
    padding: .6rem;
}

.lesson__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 2rem;
    gap: 1.5rem;
    width: min(1200px, 100%);
    place-self: center;
}

.lesson__item {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #0000002a;
    background-color: white;
}

.container__information {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    height: 100%;
    justify-content: space-between;
    min-height: 300px;
}

.container__img-link {
    position: relative;
    overflow: hidden;
    display: grid;
    height: 100%;
}

.lesson__items img {
    width: 100%;
    transition: 300ms;
}

.lesson__items img:hover {
    transform: scale(1.05);
}


.container__cart-lesson-items {
    padding: .8rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    background-color: #00000005;
    height: 100%;
}

.lesson__item-cart {
    padding: .5rem 0;
}

.container__cart-item {
    display: flex;
    border: 1px solid #00000030;
    border-radius: 12px;
    overflow: hidden;
}

.container__cart-item img {
    width: 200px;
}

.container__cart-information {
    width: 100%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.container__cart-bottom-cupon {
    min-height: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: .5rem;
}

.container__cart-bottom-cantidad {
    border-top: 1px solid rgba(0, 0, 0, 0.294);
    padding-top: .5rem;
}

.lesson__title-cart {
    color: black;
    text-decoration: none;
    font-size: .9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 270px;
}

.lesson__link-cart {
    text-decoration: none;
    color: #000000ab;
    width: fit-content;
}

.lesson__title-cart {
    font-weight: 200;
}

.lesson__link-cart {
    font-size: .7rem;
    padding-top: .3rem;
}

.container__cart-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    border: 1px solid black;
}

.item__price-cart {
    padding: 0 .2rem;
    font-weight: 600;
}

.container__cart-information-bottom {
    text-align: end;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.container__cart-button {
    width: fit-content;
    margin-left: auto;
    padding: .2rem 1rem;
    border-radius: 10px;
}

.container__cart-button button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.lesson__title {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
}

.lesson__title:hover,
.lesson__link-cart:hover {
    text-decoration: underline;
    color: black;
}

.lesson__description {
    font-size: .85rem;
    color: #000000af;
}

.lesson__link {
    color: black;
    text-decoration: none;
    width: fit-content;
    font-size: .9rem;
}

.lesson__link:hover {
    text-decoration: underline;
}

.container__bottom-information {
    display: flex;
    justify-content: space-between;
}

.lesson__hours {
    font-weight: 600;
    margin-top: auto;
}

.container__price {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: flex-end;
}

.lesson__button-buy {
    background-color: white;
    border: 1px solid black;
    padding: .5rem;
    border-radius: 12px;
    cursor: pointer;
    transition: 300ms;
}

.lesson__button-buy:hover {
    background-color: black;
    color: white;
}

.js-container__cart-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.js-container__cart-empty-text {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    font-size: .85rem;
    color: rgba(0, 0, 0, 0.638);
}

.js-container__cart-empty-link {
    color: black;
    text-decoration: none;
    padding-top: .5rem;
}

.js-container__cart-empty-link:hover {
    text-decoration: underline;
}

.oculto {
    display: none;
}

.container__cart-bottom-input {
    display: flex;
}

.container__cart-bottom-input-global {
    display: flex;
    flex-direction: column;
    min-height: 60px;
    gap: .3rem;
    padding: .3rem 0;
}

.container__cart-bottom-input-element {
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: none;
    border-color: #0000002e;
    padding: .3rem;
    outline: none;
}

.container__cart-bottom-input-element-no-modify {
    color: rgba(0, 0, 0, 0.251);
    cursor: not-allowed;
}

.container__cart-bottom-input-element-error {
    border-color: red;
    color: red;
}

.cart__error-description {
    font-size: .7rem;
    max-width: 250px;
    min-height: 20px;
}

.button__cuppon {
    background-color: black;
    color: white;
    border: 1px solid #0000002e;
    font-size: .8rem;

    padding: .2rem .3rem;
    cursor: pointer;
}

.cupon__container {
    display: none;
    border: 1px dashed #00000043;
    align-items: center;
    justify-content: space-between;
    padding: .2rem;
    padding-left: .4rem;
    padding-right: .5rem;
    font-size: .7rem;
    color: #00000087;
}

#js-cupon__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


#js-cupon__description {
    color: black;
    font-weight: 600;
    font-size: .8rem;
}

.item__count {
    min-width: 40px;
    text-align: center;
}

.buttons--hidden {
    display: none;
}

.header__right-perfil {
    display: none;
}

.pefil {
    color: white;
    background-color: #000000;
    text-decoration: none;
    width: 35px;
    display: grid;
    height: 35px;
    place-content: center;
    border-radius: 50%;
}

.dropdown__header {
    position: absolute;
    background-color: white;
    right: 0;
    padding: 1rem;
    border-radius: 1rem;
    top: 60px;
    width: 100%;
    max-width: 320px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.278);
    display: none;
}

.dropdown__header--visible {
    display: block;
}

.dropdown__header-container {
    display: flex;
    align-items: center;
    gap: .7rem;
    padding-bottom: .7rem;
}

.dropdown__header-names {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.dropdown__header-names .name {
    font-weight: 600;
    font-size: 1.1rem;
}

.dropdown__header-names .surname {
    font-size: .9rem;
    color: #000000a9;
}

.dropdown__perfil {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    border-top: 1px solid #00000014;
    padding-top: .8rem;
}

.dropdown__item {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.dropdown__item:nth-child(3) {
    border-top: 1px solid #00000014;
    padding-top: 1rem;
}

.dropdown__item .dropdown__link {
    color: #000000a9;
    text-decoration: none;
}

.dropdown__link:hover {
    color: black;
}

@media screen and (width <=1170px) {

    .lesson__question {
        font-size: 2.5rem;
    }

    .buttons {
        display: flex;
        flex-direction: column;
    }

    .carrousel__element:after,
    .carrousel__element::before {
        content: none;
    }

    .carrousel {
        min-height: 300px;
    }

    .carrousel__elements {
        height: 100%;
    }

    .carrousel img {
        object-fit: cover;
        height: 100%;
    }

    .lesson__information {
        padding: 1rem;
    }

    .lesson {
        padding: 0;
        padding-top: 1rem;
    }

    .carrousel {
        overflow: hidden;
    }

    .carrousel__elements {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        width: fit-content;
    }

    .lesson__more img {
        margin: 0 auto;
        width: 200px;
    }

    .logos__slide {
        padding: 0 1rem;
    }

    .steps__cards {
        grid-template-columns: repeat(auto-fit, minmax(min(230px, 100%), 1fr));
    }

    .step__description {
        padding: 1rem;
    }

    .main__a {
        right: 0px;
    }

    .carrousel__element-description {
        display: none;
    }

}

@media screen and (width<=901px) {
    .carrousel {
        margin: 0rem;
        border-radius: 0px;
    }
}

@media screen and (width<=595px) {

    .lesson {
        gap: 1.5rem;
    }

    .lesson__container-title {
        font-size: 1rem;
    }

    .step__container-img {
        display: none;
    }

    .steps__cards {
        /*Functions*/
        display: grid;
        gap: 1rem;
        justify-content: center;
    }

    .lesson__question {
        font-size: 1.6rem;
    }

    .steps__information {
        gap: 1rem;
    }

    .lesson__answer {
        font-size: .9rem;
        max-width: 500px;
    }

}

@media screen and (width <=700px) {
    .lesson__items {
        /*Functions*/
        grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 300px));
        width: 100%;
        gap: 2rem;
        place-content: center;

        /*Styles*/
        padding: 0 2rem;
    }

    .lesson__item-link {
        color: black;
        font-weight: 600;
    }

    .steps__question {
        font-size: 1.4rem;
    }

    .steps__information {
        gap: .5rem;
        padding: .7rem;
    }

    .steps__paragraph {
        font-size: 1rem;
    }

    .js-container__cart {
        width: 100%;
    }

    .lesson__title-cart {
        color: black;
        text-decoration: none;
        font-size: .9rem;
        white-space: inherit;
        overflow: auto;
        text-overflow: inherit;
        max-width: 100%;
    }

    .container__cart-item img {
        display: none;
    }

    .container__cart-item {
        height: 100%;
        width: 100%;
    }

    .lesson__link-cart {
        font-weight: 600;
        font-size: .72rem;
    }
}

@media screen and (width <=650px) {
    .carrousel {
        min-height: 425px;
    }

    .carrousel__element-description {
        right: 18%;
        width: 250px;
    }

    .carrousel-left {
        width: 30px;
        height: 30px;
    }

    .carrousel-right {
        width: 30px;
        height: 30px;
    }
}

@media screen and (width <=479px) {

    .lesson__question {
        line-height: 1.7;
    }

    .lesson {
        gap: 2rem;
    }

    .lesson__container-title {
        font-size: 1rem;
        padding: .5rem;
    }


    .steps__cards {
        /*Functions*/
        grid-template-columns: repeat(auto-fit, minmax(min(260px, 100%), 1fr));
    }

    .lesson__answer {
        font-size: 1rem;
    }

    .steps__container {
        padding: 1rem;
    }

    .main {
        gap: 0;
    }

    .lesson__items {
        padding: .5rem;
    }

    .lesson__more p {
        padding: .7rem;
        font-size: .8rem;
    }

    .logos__title {
        font-size: .9rem;
    }

    .lesson {
        border-radius: 30px;
    }

    .container__cart-cupon {
        font-size: .9rem;
    }

}

@media screen and (width <=415px) {
    .container__cart-cupon {
        display: none;
    }

    .container__cart-bottom-cupon {
        width: 100%;
        justify-content: center;
    }

    .cart__error-description {
        text-align: center;
    }

    .container__cart-bottom-payment {
        padding: .7rem 1rem;
    }

}

@media screen and (width <=400px) {
    .carrousel {
        min-height: 180px;
    }

    .carrousel-left {
        width: 20px;
        height: 20px;
    }

    .carrousel-right {
        width: 20px;
        height: 20px;
    }

    .lesson__title {
        font-size: 1.1rem;
    }

    .lesson__description {
        font-size: .8rem;
    }

    .container__mid-information {
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }

    .container__information {
        padding: 1rem .5rem;
    }

    .lesson__items {
        padding: .3rem;
    }

}