body {
    background-color: aliceblue;
    width: 100%;
    margin: 0 auto;
    transition: .3s ease;
}

.main {
    display: grid;
    gap: 1rem;
    margin-top: 42.18px;
}

html {
    scroll-behavior: smooth;
}

.main__a {
    scroll-behavior: smooth;
    position: fixed;
    bottom: 3px;
    right: 10px;
    z-index: 100;
}

.steps__container {
    /*Functions*/
    width: 100%;
    display: grid;

    /*Styles*/
    padding: 0 1rem;
}

.step__container-img {
    /*Styles*/
    padding: 1rem;
}

.steps__information {
    /*Functions*/
    display: grid;
    gap: .5rem;
    padding: 1rem 2rem;
    text-align: center;
    max-width: 700px;
    margin: 1rem auto;
    background-color: white;
    border-radius: 20px;
}

.steps__question {
    /*Styles*/
    line-height: 1;
    font-weight: 800;
    font-size: clamp(1.5rem, 5vw, 2.3rem);
    padding: .5rem 1rem;
    color: black;
    background-color: azure;
}

.steps__paragraph {
    /*Styles*/
    font-size: 1.05rem;
    color: rgba(0, 0, 0, 0.507);
}

.steps__cards {
    /*Functions*/
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    width: min(1000px, 100%);
    margin: 2rem auto;

    /*Styles*/
    border-radius: 1.5rem;
}

.step__item {
    /*Functions*/
    overflow: hidden;

    /*Styles*/
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: 1px 1px 10px 0px #00000017;
    background-color: var(--white);
}


.step__description {
    /*Styles*/

    padding: .5rem;
    /*Functions*/
    height: 100%;
}

.step__description--white {
    background-color: white;
}

.step__title {
    /*Styles*/
    font-size: 1.2rem;
    color: var(--black);
    font-weight: 600;
    /*Functions*/
    margin-bottom: .5rem;
}

.step__text {
    /*Styles*/
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.507);

    /*Functions*/
    width: min(250px, 100%);
    margin: 0 auto;
}

.lesson {
    /*Styles*/
    border-radius: 70px;
    border: 1px solid #00000028;
    padding: 3rem 0;
    background-color: #ffff;

    /*Functions*/
    display: grid;
    gap: 3.5rem;
    width: 90%;
    margin: 0 auto;
}

.lesson__information {
    /*Styles*/
    text-align: center;
    display: grid;
    gap: 1rem;
    padding: 2rem;
}


.lesson__question {
    /*Styles*/
    font-size: 3.5rem;
    font-weight: 600;
}

.lesson__question-modify {
    /*Styles*/
    color: var(--black);
    padding: .2rem 1rem;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 30px;
}

.lesson__answer {
    /*Functions*/
    max-width: min(700px, 100%);
    place-self: center;

    /*Styles*/
    font-size: 1.3rem;
    color: #000000c4;
    font-weight: 300;
}

.lesson__container {
    /*Functions*/
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.lesson__container-title {
    /*Styles*/
    border: 1px solid #00000028;
    color: #000000;
    text-align: center;
    padding: .7rem 2rem;
    border-radius: 12px;
    font-size: 1.5rem;
    font-weight: 600;

    /*Functions*/
    margin: 0 auto;
}

.lesson__items {
    /*Functions*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(265px, 100%), 1fr));
    width: min(1200px, 100%);
    margin: 0 auto;
    gap: 2rem;

    /*Styles*/
    padding: 0 2rem;
}

.lesson__item {
    /*Styles*/
    border-radius: 20px;
    background-color: #ffffff;
    cursor: default;

    /*Functions*/
    display: flex;
    flex-direction: column;
}


.lesson__item:hover {

    .lesson__item-container-information {
        box-shadow: 0px 6px 0px 0px black;
    }

    .lesson__item-link {
        color: black;
        font-weight: 600;
    }

    .lesson__item-container-img img {
        transform: scale(1.05);
    }
}

.lesson__item-container-information {
    /*Styles*/
    border: 1px solid #0000002d;
    padding: .8rem;
    border-radius: 0px 0px 15px 15px;
    transition: .2s ease;

    /*Functions*/
    display: grid;
    justify-content: center;
    gap: 2rem;
    height: min(340px, 100%);
}

.lesson__item-information-top {
    /*Functions*/
    display: grid;
    gap: .5rem;
}

.lesson__item-title {
    /*Styles*/
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    line-height: 1.2;
    text-decoration: none;
    color: black;
}

.lesson__item-link:hover {
    text-decoration: underline;
}

.lesson__item-title:hover {
    text-decoration: underline;
}

.lesson__item-description {
    /*Styles*/
    font-size: .8rem;
    color: #000000a9;
    font-weight: 500;
}

.lesson__item-information-bottom {
    /*Functions*/
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.lesson__item-hours {
    /*Styles*/
    font-weight: 700;
}

.lesson__item-information-bottom-button-price {
    /*Functions*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .5rem;
}

.lesson__item-price {
    font-weight: 600;
    margin-right: 8px;
}

.lesson__item-link {
    text-decoration: none;
    color: #000000a9;
    font-size: .9rem;
    font-weight: 500;
    width: fit-content;
}

.lesson__item-button {
    /*Styles*/
    color: white;
    font-weight: 400;
    text-decoration: none;
    background-color: #000000;
    transition: .3s ease;
    padding: .4rem .8rem;
    border-radius: 12px;
    cursor: pointer;
}


.lesson__item-container-img {
    width: 100%;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.lesson__item-container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease;
}

.lesson__more {
    width: 100%;
    display: grid;
    margin: 1rem 0;
    place-content: center;
}

.lesson__more p {
    /*Styles*/
    border: 1px solid #00000028;
    text-align: center;
    color: #00000088;
    padding: .7rem 2rem;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 500;
    cursor: not-allowed;

    /*Functions*/
    margin: 0 auto;
}

.logos__slide img {
    height: 55px;
    transition: .3s ease;
    padding: .4rem;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.144);
}

.logos {
    padding: .5rem 0;
    overflow: hidden;
    margin-bottom: 4rem;
    margin-top: 2rem;
    display: grid;
    gap: 1.2rem;
}

.logos__slide {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.logos__title {
    text-align: center;
    padding: .5rem;
    font-size: 1.15rem;
    font-weight: 400;
    color: #00000080;
    border-radius: 7px;
    width: fit-content;
    margin: 0 auto;
}

.carrousel {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.carrousel__elements {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.carrousel__element {
    list-style: none;
    width: 100%;
}

.carrousel__element img {
    height: 100%;
    width: 100vw;
}

.carrousel__element-description {
    position: absolute;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
    max-width: 450px;
    width: 100%;
    right: 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    color: #2d2f31;
}

.carrousel__img-mobile {
    display: none;
}

.description__title {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.description__link {
    text-decoration: none;
    color: white;
    background-color: black;
    width: fit-content;
    font-weight: 500;
    padding: .5rem 1rem;
    transition: .3s ease;
}

.description__paragraph {
    color: rgba(0, 0, 0, 0.562);
    font-size: .9rem;
    line-height: 1.6;
    font-weight: 100;
}

.description__link:hover {
    background-color: #2d2f31e5;
}

body:has(.header__right-alternate-night-mode-checkbox:checked) {
    background-color: #000814;
    transition: .3s ease;

    .carrousel__element-description {
        background-color: #000814;
    }

    .description__link {
        background-color: #001D3D;
    }

    .description__link:hover {
        background-color: #003566;
    }

    .description__paragraph {
        color: #ffffffcb;
    }

    .steps__information {
        background-color: #001D3D;
    }

    .steps__question {
        background-color: transparent;
    }

    .step__item {
        background-color: #001D3D;
    }

    .step__title,
    .step__text {
        color: #001D3D;
    }

    .step__description {
        background-color: white;
    }

    .lesson {
        background-color: #001D3D;
    }

    .lesson__question-modify {
        border-color: white;
    }

    .lesson__item:hover {

        .lesson__item-container-information {
            box-shadow: none;
        }
    }

    .lesson__answer,
    .lesson__container-title,
    .lesson__question-modify,
    .lesson,
    .steps__paragraph,
    .steps__question,
    .description__link,
    .carrousel__element-description,
    .lesson__item-title,
    .lesson__item-description,
    .lesson__item-link,
    .logos__title,
    .lesson__more-paragraph,
    footer,
    .footer__element,
    .footer__link,
    .footer__paragraph {
        color: white;
    }

    .lesson__container-title {
        border-color: white;
    }

    .lesson__item-container-information {
        background-color: #000814;
    }

    .lesson__item-button {
        background-color: #001D3D;
    }

    .lesson__item-button:hover {
        color: white;
        background-color: transparent;
        box-shadow: 0px 0px 0px 1px white;
    }

    .lesson__more-paragraph {
        border-color: white;
    }

    .logos__slide img {
        background-color: white;
    }

    footer {
        background-color: #001D3D;
        border: none;
    }

    .footer__title {
        background-color: #000814;
    }

    .lesson__item-container-img {
        background-color: black;
    }

}

@media screen and (width <=1170px) {

    .lesson__question {
        font-size: 2.5rem;
    }

    .carrousel__element:after,
    .carrousel__element::before {
        content: none;
    }

    .carrousel {
        min-height: 300px;
    }

    .carrousel__elements {
        height: 100%;
    }

    .carrousel img {
        object-fit: cover;
        height: 100%;
    }

    .lesson__information {
        padding: 1rem;
    }

    .lesson {
        padding: 0;
        padding-top: 1rem;
    }

    .carrousel {
        overflow: scroll;
    }

    .carrousel__elements {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        width: fit-content;
    }

    .carrousel__element-description {
        display: none;
    }

    .lesson__more img {
        margin: 0 auto;
        width: 200px;
    }

    .logos__slide {
        padding: 0 1rem;
    }

    .steps__cards {
        grid-template-columns: repeat(auto-fit, minmax(min(230px, 100%), 1fr));
    }

    .step__description {
        padding: 1rem;
    }

    .main__a {
        right: 0px;
    }
}

@media screen and (width<=901px) {
    .carrousel {
        margin: 0rem;
        border-radius: 0px;
    }
}

@media screen and (width<=595px) {

    .lesson {
        gap: 1.5rem;
    }

    .lesson__container-title {
        font-size: 1rem;
    }

    .step__container-img {
        display: none;
    }

    .steps__cards {
        /*Functions*/
        display: grid;
        gap: 1rem;
        justify-content: center;
    }

    .lesson__question {
        font-size: 1.6rem;
    }

    .steps__information {
        gap: 1rem;
    }

    .lesson__answer {
        font-size: .9rem;
        max-width: 500px;
    }

}

@media screen and (width <=700px) {
    .lesson__items {
        /*Functions*/
        grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 300px));
        width: 100%;
        gap: 2rem;
        place-content: center;

        /*Styles*/
        padding: 0 2rem;
    }

    .lesson__item-link {
        color: black;
        font-weight: 600;
    }

    .steps__question {
        font-size: 1.4rem;
    }

    .steps__information {
        gap: .5rem;
        padding: .7rem;
    }

    .steps__paragraph {
        font-size: 1rem;
    }

    .carrousel__img-desktop {
        display: none;
    }

    .carrousel__img-mobile {
        display: block;
    }
}

@media screen and (width <=479px) {

    .lesson__question {
        line-height: 1.7;
    }

    .lesson {
        gap: 2rem;
    }

    .lesson__container-title {
        font-size: 1rem;
        padding: .5rem;
    }


    .steps__cards {
        /*Functions*/
        grid-template-columns: repeat(auto-fit, minmax(min(260px, 100%), 1fr));
    }

    .lesson__answer {
        font-size: 1rem;
    }

    .steps__container {
        padding: 1rem;
    }

    .main {
        gap: 0;
    }

    .lesson__items {
        padding: .5rem;
    }

    .lesson__more p {
        padding: .7rem;
        font-size: .8rem;
    }

    .logos__title {
        font-size: .9rem;
    }

    .lesson {
        border-radius: 30px;
    }
}

@media screen and (width <=460px) {

    .main {
        margin-top: 2rem;
    }
}